<header *ngIf="totalCount>0">
  Showing
  <span class="fw-bold"
    >{{ pageSize * (pageIndex - 1) + 1 }}-
    {{
      pageSize * pageIndex > totalCount
        ? totalCount
        : pageSize * pageIndex
    }}</span
  >
  of <span class="fw-bold">{{ totalCount }}</span> Results
</header>
