<ngx-spinner
  bdColor="rgba(255, 255, 255, .9)"
  size="medium"
  color="#2C3A47"
  type="ball-clip-rotate-pulse"
  [fullScreen]="true"
  ><h3 style="color: #2C3A47">Loading...</h3></ngx-spinner
>
<app-nav-bar></app-nav-bar>
<app-section-header></app-section-header>
<router-outlet></router-outlet>
