<div class="col-4 offset-4">
  <main class="form-signin mt-5 bg-info p-4">
    <form [formGroup]="loginForm" (ngSubmit)="this.onSubmit()">
      <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>
      <div class="form-floating mb-3">
        <input
          formControlName="email"
          type="email"
          class="form-control"
          id="floatingInput"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input
          formControlName="password"
          type="password"
          class="form-control"
          id="floatingPassword"
        />
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox my-3">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">
        Sign in
      </button>
    </form>
  </main>
</div>
