<div class=" my-4">
    <ng-container *ngIf="(basketTotal$ | async) as basketTotal">
        <div class="bg-light fw-bold h5 p-2 text-center">Order Summary</div>
        <p class=" fst-italic my-4">Shipping cost will be added depending on choices made during heckout</p>
        <table class="table table-borderless">
          <tr>
            <td><p class="fw-bold text-muted">Order Subtotal</p></td>
            <td><p class="fw-bold">${{basketTotal.subtotal}}</p></td>
          </tr>
          <tr>
            <td><p class="fw-bold text-muted">Shipping and Handling</p></td>
            <td><p class="fw-bold">${{basketTotal.shipping}}</p></td>
          </tr>
          <tr>
            <td><p class="fw-bold text-muted">Total</p></td>
            <td><p class="fw-bold">${{basketTotal.total}}</p></td>
          </tr>
        </table>
    </ng-container>
</div>
