<div class="card h-100">
  <img src="{{ product.pictureUrl }}" />

  <div class="card-body">
    <p class="card-text fw-bolder text-primary" >
      <a routerLink="/shop/{{product.id}}">{{ product.name }}</a> <br />
      <span class="text-muted">${{ product.price }}</span>
    </p>
    <div class="btn-group col-12">
      <button type="button" class="btn btn-outline-success" (click)="onAddToCart()">Cart</button>
      <button type="button"  class="btn btn-outline-success " routerLink="/shop/{{product.id}}"  >View</button>
      
    </div>
  </div>
</div>
