<div class="container-fluid">
  <div class="my-3"></div>
  <div class="row">
    <div class="col-2 offset-2">
      <div class="h4 text-success my-2">Brand</div>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let item of brands"
          (click)="onBrandSelected(item.id)"
          [class.active]="item.id === this.params.brandId"
        >
          {{ item.name }}
        </li>
      </ul>
      <div class="h4 text-success my-2">Type</div>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let item of types"
          (click)="onTypeSelected(item.id)"
          [class.active]="params.typeId === item.id"
        >
          {{ item.name }}
        </li>
      </ul>
      <div class="h4 text-success my-2">Sort</div>
      <select class="form-select">
        <option>Alphaetically</option>
        <option>Price: Low to high</option>
        <option>Price: High to low</option>
      </select>
    </div>
    <div class="col-8">
      <div class="row mb-3">
        <div class="col-3">
          <app-paginng-header 
          [pageIndex]="pagination.pageIndex"
          [pageSize]="pagination.pageSize"
          [totalCount]="pagination.totalCount"
          >
          </app-paginng-header>
        </div>
        <div class="col-9">
          <div class="row">
            <div class="col-6">
              <input
                type="search"
                #search
                
                class="form-control form-control-dark"
                placeholder="Search..."
                aria-label="Search"
              />
            </div>
            <div class="col-3">
              <button type="button"  (click)="onSearch()" class="btn btn-outline-primary me-2">
                Search
              </button>
              <button type="button" (click)="onReset()" class="btn btn-outline-danger">Reset</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mb-4" *ngFor="let item of products">
          <app-product-item [product]="item"></app-product-item>
        </div>
        <div class="d-flex justify-content-center">
          <app-pager
          [pageSize]="params.pageSize"
          [totalCount]="pagination.totalCount"
          (pageChanged)="onPageChanged($event)"
          >

          </app-pager>
        </div>
      </div>
    </div>
  </div>
</div>
