<ng-container *ngIf="(breadcrumb$ | async ) as breadcrumbs">

  <section style="background-color: rgb(232, 232, 233)" class="py-4"
  *ngIf="breadcrumbs.length>0 && breadcrumbs[breadcrumbs.length-1].label !== 'Home'">
    <div class="container-fluid">
      <div class="row d-flex align-items-center">
        <div class="col-8">
          <h1>{{breadcrumbs[breadcrumbs.length-1].label}}</h1>
        </div>
        <div class="col-4">
          <xng-breadcrumb></xng-breadcrumb>
        </div>
      </div>
    </div>
  </section>
</ng-container>
