<ng-container *ngIf="basket$ | async as basket">
<div class="container  mt-4">
  <div class="row">
    <table class="table table-borderless">
      <thead style="background-color: rgb(220, 231, 231)">
        <tr>
          <th>Image</th>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of basket.items">
          <td>
            <img
              [src]="item.pictureUrl"
              class="img-fluid"
              height="50"
              width="50"
            />
          </td>
          <td>
            <span class="fw-bold">{{ item.productName }}</span> <br />
            <span style="font-style: italic; color: rgb(186, 186, 186)">{{
              item.type
            }}</span>
          </td>

          <td>${{ item.price }}</td>
          <td>
            <a (click)="onDecrement(item)">
              <fa-icon
                [icon]="faCircleMinus"
                class="text-warning fw-bold m-2"
                size="lg"
              ></fa-icon>
            </a>
            {{ item.quantity }}
          <a (click)="onIncrement(item)">
            
              <fa-icon
                [icon]="faCirclePlus"
                class="text-warning fw-bold m-2"
                size="lg"
              ></fa-icon>
            </a>
          </td>

          <td>${{ item.price * item.quantity }}</td>
          <td>
            <a (click)="onRemove(item)">
              <fa-icon
                [icon]="faTrash"
                class="text-danger"
                size="lg"
              ></fa-icon>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-4 offset-8">
      <app-order-summary></app-order-summary>
      <a class="btn btn-outline-danger fw-bold col-12" [routerLink]="['/checkout']" routerLinkActive="router-link-active"  >
          Proceed to Checkout
        </a>
    </div>
  </div>
</div>
</ng-container>

<ng-container *ngIf="isBasketEmpty">
  <div class="h3 text-center mt-4">Your Shopping Cart is Empty...</div>
</ng-container>
