<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class=""
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="" [routerLink]="['/shop']" routerLinkActive="active"
            >Shop</a
          >
        </li>

        <li class="nav-item">
          <a class="disabled">About Us</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <a style="position: relative" class="me-5" routerLink="/basket">
          <span><fa-icon [icon]="faShoppingCart" size="lg"></fa-icon></span>
          <span class="cart-no" *ngIf="(basket$ | async) as basket"> {{basket.items.length}} </span>
        </a>

        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button> -->
        <a  class="btn btn-light btn-outline-primary me-1" routerLink="/account/login">
          Sign In
        </a>
        <a  class=" btn btn-light btn-outline-primary" routerLink="/account/register">
          Register
        </a>
      </div>
    </div>
  </div>
</nav>
