a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}

a.active {
  color: orange;
}

.cart-no {
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: -6px;
  right: -8px;
  font-size: 1rem;
  border-radius: 100%;
  color: white;
  font-weight: bold;
  text-align: center;
  
}
