.background{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/home.jpg");
    
}

h1{
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
